node_modules
dist
.cache
.env
.DS_Store
# Netlify generated stuff
.netlify/

# Eleventy Edge Build Data files
netlify/edge-functions/_generated   

netlify/functions/myfunction/**
!netlify/functions/myfunction/index.js