---
layout: base
headText: Scofield Albums
pagination:
  data: scofield
  size: 1
  alias: album
  addAllPagesToCollections: true
permalink: "album/{{album.mbid | slugify}}+1/"
tags: albums
eleventyComputed:
    title: "{{ album.name }}"
---
{%- for item in pagination.items %}
   <div>       
      <a href="/albumlist">Back to list of albums</a>
      <p>{{ item.name }}</p>
      <img src={{ item.image[2].url }} width="150px" height="150px"/>
</div>
{% endfor -%}
