---
layout: base
permalink:
  myfunction: /serverless-page-2/
---
<a href="/"> Home </a>
<p>Hello from Serverless-page-1. This will render content from serverless-page-1 dynamically when serverless-page-2 is loaded.</p>