---
layout: base
permalink:
  myfunction: /serverless-page-1/
---
<a href="/"> Home </a>
<p>Hello from Serverless-page-2. This will render content from serverless-page-2 dynamically when serverless-page-1 is loaded. </p>